@import '../../styles/variables';

.projects {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    width: calc(33% - 10px);

    &__item {
        width: 100%;

        h5 {
            font-size: $font-size-xl;
            line-height: 46px;
            margin-bottom: 5px;
        }

        img {
            width: 100%;
            max-height: 350px;
            height: 300px;
            // object-fit: contain;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: $max-width-container) {
    .project {
       img {
            height: 20vw;
       } 
    }
}

@media (max-width: 1200px) {
    .project {
        width: calc(50% - 10px);

        img {
            height: 30vw;
        }
    }
}

@media (max-width: 750px) {
    .projects {
        flex-direction: column;
        gap: 40px;
    }

    .project {
        width: 80%;

        img {
            height: 50vw;
        }

        &:nth-child(odd) {
            align-self: flex-start;
        }

        &:nth-child(even) {
            align-self: flex-end;

            h5 {
                text-align: right;
            }

            & .project__links {
                flex-direction: row-reverse;
                justify-content: end;
            }
        }

    }
}

@media (max-width: 700px) {

    .project {
        width: 85%;
    }
}


@media (max-width: 450px) {
    .projects{
        gap: 30px;
    }

    .project {
        width: 100%;

        img {
            height: 55vw;
        }

        &, &:nth-child(even) {
            align-self: flex-start;

            h5 {
                text-align: left;
                font-size: $font-size-lg-xl;
                line-height: calc($font-size-lg-xl + 10px);
            }

            & .project__links {
                flex-direction: row;
                justify-content: start;
            }
        }
    }
}