@import '../../styles/variables';

.posts {
    &__topics {
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid $primary-color;
        display: flex;
        gap: 50px;
        margin-bottom: $margin-title;
    }

    &__topic {
        font-size: $font-size-lg;
        line-height: $font-size-lg;
        color: $primary-color;
        padding: 5px 15px;
        background: transparent;
        border: none;
        border-radius: 10px;
        position: relative;
        cursor: pointer;
        transition: all .3s linear;

        &:not(:last-child)::before {
            content: '';
            position: absolute;
            right: -25px;
            top: 0;
            width: 1px;
            height: 100%;
            background: $primary-color;
        }

        &:hover {
            color: $primary-background;
            background: $primary-color;
        }
    }

    .posts__topic.active {
        background: $primary-color;
        color: $primary-background;
    }
    
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

.post {
    height: 284px;
    border-radius: 10px;
    border: 1px solid $primary-color;
    padding-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .3s linear;

    &:hover {
        color: $primary-background;
        background: $primary-color;
    }

    &__body {
        transition: all .3s linear;
    }

    &__header {
        padding: 15px 30px;
        border-bottom: 1px solid $primary-color;
        background: $primary-background;
        color: $primary-color;
    }

    &__title {
        padding:0px 30px;
        font-size: $font-size-xl;
        display: -webkit-box;          /* Включаем флекс-контейнер в режиме блочного формата */
        -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию для боксов */
        overflow: hidden;             /* Скрываем переполнение текста */
        text-overflow: ellipsis;      /* Добавляем многоточие, если текст обрезан */
        -webkit-line-clamp: 1;        /* Ограничиваем текст до 1 строк */
        margin-top: 15px;
    }

    &__text {
        padding: 0px 30px;
        display: -webkit-box;          /* Включаем флекс-контейнер в режиме блочного формата */
        -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию для боксов */
        overflow: hidden;             /* Скрываем переполнение текста */
        text-overflow: ellipsis;      /* Добавляем многоточие, если текст обрезан */
        -webkit-line-clamp: 7;        /* Ограничиваем текст до 7 строк */
        line-height: 1.5;             /* Устанавливаем межстрочный интервал */
        max-height: calc(1.5em * 7);
    }

    &__date {
        position: absolute;
        right: 30px;
        bottom: 10px;
    }
}