@import '../../styles/variables';

.container {
    max-width: $max-width-container;
    width: 100%;
    margin: 0 auto;
    padding: $padding-container;
}

.hero {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &__container {
        max-width: $max-width-container;
        width: 100%;
        padding: $padding-container;
        margin: -48px auto 0;

        button {
            margin-bottom: 20px;
        }
    }

    &__content {
        margin-bottom: 20px;

        span {
            font-size: 2.8vw;
            line-height: 2.8vw;
            text-transform: uppercase;
            font-weight: 500;
        }

        h1 {
            font-size: 7vw;
            line-height: 7vw;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 2px $primary-color;
            margin-bottom: 20px;
        }

        p {
            font-size: 2.8vw;
            line-height: 2.8vw;
            font-weight: 500;
            max-width: 50vw;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__img1 {
        position: absolute;
        top: 80%;
        left: 0;
        transform: translateY(-80%);
        height: auto;
        width: 25vw;
        z-index: -1;
    }

    &__img2 {
        position: absolute;
        top: 40%;
        right: 0;
        transform: translateY(-40%);
        // height: 60vh;
        height: auto;
        width: 25vw;
        z-index: -1;
    }

    &__mause {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding-bottom: 5px;

        svg {
            fill: $primary-color;
            margin-bottom: 5px;
        }
    }

    &__mausearrov {
        width: 100%;
        height: 12px;
        position: relative;
        opacity: 1;
        animation: arrow-animation 2s ease-in-out infinite;

        &:nth-child(2) {
            animation-delay: 1s;
        }

        &:nth-child(3) {
            animation-delay: 1.4s;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 50%;
            width: 60%;
            height: 3px;
            transform: rotate(45deg);
            background: $primary-color;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 50%;
            width: 60%;
            height: 3px;
            transform: rotate(-45deg);
            background: $primary-color;
        }
    }
}
// ========================================================================================================
// animation
// ========================================================================================================
@keyframes arrow-animation {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(10px);
        opacity: 0;
    }
}

.projects {
    max-width: $max-width-container;
    width: 100%;
    margin: 0 auto;
    padding: $padding-section;

    h3 {
        margin-bottom: $margin-title;
    }

    &__items {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__link {
        margin-top: $margin-title;
        text-align: center;
    }
}

.project {
    width: calc(33% - 10px);

    &__item {
        width: 100%;

        h5 {
            font-size: $font-size-xl;
            line-height: 46px;
            margin-bottom: 5px;
        }

        img {
            width: 100%;
            max-height: 450px;
            height: 100%;
            // object-fit: contain;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.skills {
    padding: $padding-section;

    h3 {
        margin-bottom: $margin-title;
    }

    &__container {
        display: flex;
    }

    &__image {
        width: 36%;
        
        & img {
            width: 100%;
            height: auto;
        }
    }

    &__items {
        width: 64%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__img svg {
        width: 100px;
        height: auto;
        display: block;
        margin: 0 auto 10px;
    }

    &__item {
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;
        border: 1px solid $primary-background;
        padding: 20px;
        transition: all .1s linear;

        &:hover {
            border:  1px solid $primary-color;

            p {
                display: block; /* Вернуть обычный блочный тип */
                -webkit-box-orient: initial;
                -webkit-line-clamp: unset; /* Убирает ограничение строк */
                overflow: visible; /* Убирает скрытие текста */
                text-overflow: clip; /* Убирает многоточие */
                max-height: none; /* Убирает ограничение по высоте */
                width: calc(100% + 2px);
                padding: 0 20px 20px 20px;
                border-left: 1px solid $primary-color;
                border-right: 1px solid $primary-color;
                border-bottom: 1px solid $primary-color;
                position: absolute;
                left: -1px;
                z-index: 10;
            }
        }

        p {
            background: $primary-background;
            display: -webkit-box;          /* Включаем флекс-контейнер в режиме блочного формата */
            -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию для боксов */
            overflow: hidden;             /* Скрываем переполнение текста */
            text-overflow: ellipsis;      /* Добавляем многоточие, если текст обрезан */
            -webkit-line-clamp: 7;        /* Ограничиваем текст до 7 строк */
            line-height: 1.5;             /* Устанавливаем межстрочный интервал */
            max-height: calc(1.5em * 7);  /* Выставляем максимальную высоту под 7 строки */
        }
    }
} 

.posts {
    padding: $padding-section;

    h3 {
        margin-bottom: $margin-title;
    }

    &__link {
        margin-top: $margin-title;
        text-align: center;
    }
}

@media (min-width: 1200px) {
    .hero{
        &__content {
            span {
                font-size: 28px;
                line-height: 32px;
            }
    
            h1 {
                font-size: 100px;
                line-height: 100px;
            }
    
            p {
                font-size: 28px;
                line-height: 32px;
                max-width: 500px;
            }
        }
    }
}

@media (max-width: 1366px) and (max-height: 500px) {
    .hero {
        min-height: 400px;
    }
}

@media (max-width: 1366px) and (max-height: 650px) {
    .hero {
        &__container {
            margin-top: 100px;
        }

        &__mause {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .project {
        width: calc(50% - 10px);
    }

    .skills {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 1024px) {
    .hero {
        &__mause {
            display: none;
        }
    }
}

@media (max-width: 900px) {
    .skills {
        &__container {
            display: block;
        }

        &__image {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }

        &__items {
            width: 100%;
            grid-template-columns: repeat(3, 1fr);

            .icon {
                width: calc(60vw / 7);
                height: calc(60vw / 7);
            }
        }

        &__text {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .skills {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 724px) {
    .projects {
        &__items {
            flex-direction: column;
            gap: 40px;
        }
    }

    .project {
        width: 80%;

        &:nth-child(odd) {
            align-self: flex-start;
        }

        &:nth-child(even) {
            align-self: flex-end;

            h5 {
                text-align: right;
            }

            & .project__links {
                flex-direction: row-reverse;
                justify-content: end;
            }
        }

    }

    .skills {
        &__items {
            grid-template-columns: repeat(2, 1fr);

            .icon {
                width: calc(70vw / 7);
                height: calc(70vw / 7);
            }
        }
    }
}

@media (max-width: 700px) {
    .hero {
        padding-top: 80px;
        display: block;
        text-align: left;
        
        &__container {
            text-align: center;
            padding-top: 80px;
            margin-bottom: 80px;
        }

        &__content {
            margin-bottom: 20px;

            span {
                font-size: 20px;
                line-height: 20px;
            }

            h1 {
                font-size: 50px;
                line-height: 50px;
            }

            p {
                max-width: 325px;
                width: 100%;
                font-size: 20px;
                line-height: 26px;
            }
        }

        &__img1 {
            position: static;
            transform: translateY(0);
        }

        &__img1 {
            width: 50vw;
        }

        &__img2 {
            top: 80%;
            width: 40vw;
        }
    }

    .projects {
        padding-top: 80%;
    }

    .project {
        width: 85%;
    }
}

@media (max-width: 600px) {
    .projects, .skills, .posts {
        h3{
            margin-bottom: $margin-title-mobile;
        }
    }
    .posts {
        &__link {
            margin-top: $margin-title-mobile;
        }
    }
}

@media (max-width: 500px) {
    .skills {
        &__items {
            display: block;
        }

        &__item, &__item:hover {
            border:  1px solid $primary-background;
    
            &:hover p , p {
                display: block; /* Вернуть обычный блочный тип */
                -webkit-box-orient: initial;
                -webkit-line-clamp: unset; /* Убирает ограничение строк */
                overflow: visible; /* Убирает скрытие текста */
                text-overflow: clip; /* Убирает многоточие */
                max-height: none; /* Убирает ограничение по высоте */
                width: calc(100% + 2px);
                padding: 0 20px 20px 20px;
                border-left: 1px solid $primary-background;
                border-right: 1px solid $primary-background;
                border-bottom: 1px solid $primary-background;
                position: static;
                padding: 0;
            }
        }
    }
}

@media (max-width: 425px) {
    .projects{
        &__items {
            gap: 30px;
        }
    }

    .project {
        width: 100%;

        &:nth-child(even) {
            align-self: flex-start;

            h5 {
                text-align: left;
            }

            & .project__links {
                flex-direction: row;
                justify-content: start;
            }
        }
    }
}

@media (max-width: 425px) {
    .projects {
        h3 {
            margin-bottom: 30px;
        }
    }

    .project {
        h5 {
            font-size: $font-size-lg-xl;
            line-height: calc($font-size-lg-xl + 10px);
        }
    }
}