// Width
$max-width-container: 1620px;

// Fonts
$primary-font: "Roboto", sans-serif;

// Font-sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-lg-xl: 24px;
$font-size-lg-xxl: 28px;
$font-size-xl: 34px;
$font-size-xxl: 44px;

// Color
$primary-color: #FFFFFF;

// Background
$primary-background: #000000;
$primary-color-background: #FFFFFF;

// paddings
$padding-container: 0 5px;
$padding-section: 100px 0;
$padding-section-mobile: 50px 0;

// margin
$margin-title: 40px;