@import '../../styles/variables';

.container {
    max-width: $max-width-container;
    width: 100%;
    margin: 0 auto;
    padding: $padding-container;
}

.post {
    padding: $padding-section;
    display: flex;
    gap: 50px;

    &__body {
        width: 70%;
        height: auto;
        min-height: calc(100vh - 300px);
        padding: 50px;
        border: 1px solid $primary-color;
        border-radius: 10px;
    }
    
    &__date {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: $font-size-md;
        line-height: $font-size-md;
        margin-bottom: 5px;
    }

    &__title {
        font-size: $font-size-xxl-md;
        line-height: calc($font-size-xxl-md + 6px);
        margin-bottom: 5px;
    }

    &__topic {
        display: inline-block;
        background: $primary-color;
        border-radius: 10px;
        padding: 5px 10px;
        font-size: $font-size-md;
        line-height: $font-size-md;
        color: $primary-background;
        margin-bottom: 20px;
    }

    &__recommendations {
        height: auto;
        min-height: calc(100vh - 300px);
        width: 30%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.recommendations__title {
    font-size: $font-size-lg-xl;
    line-height: $font-size-lg-xl;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;

    span {
        font-size: $font-size-xxs;
        text-transform: none;
        padding: 0px 8px;
        font-weight: normal;
        margin-bottom: 0;
    }
}

.recommended {
    height: 284px;
    border-radius: 10px;
    border: 1px solid $primary-color;
    padding-bottom: 30px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .3s linear;

    &:hover {
        color: $primary-background;
        background: $primary-color;
    }

    &__body {
        transition: all .3s linear;
    }

    &__header {
        padding: 15px 20px;
        border-bottom: 1px solid $primary-color;
        background: $primary-background;
        color: $primary-color;
    }

    &__title {
        padding:0px 20px 5px;
        font-size: $font-size-lg;
        line-height: calc($font-size-lg-md + 8px);
        display: -webkit-box;          /* Включаем флекс-контейнер в режиме блочного формата */
        -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию для боксов */
        overflow: hidden;             /* Скрываем переполнение текста */
        text-overflow: ellipsis;      /* Добавляем многоточие, если текст обрезан */
        -webkit-line-clamp: 1;        /* Ограничиваем текст до 1 строк */
        margin-top: 15px;
    }

    &__text {
        padding: 0px 20px;
        display: -webkit-box;          /* Включаем флекс-контейнер в режиме блочного формата */
        -webkit-box-orient: vertical; /* Устанавливаем вертикальную ориентацию для боксов */
        overflow: hidden;             /* Скрываем переполнение текста */
        text-overflow: ellipsis;      /* Добавляем многоточие, если текст обрезан */
        -webkit-line-clamp: 7;        /* Ограничиваем текст до 7 строк */
        line-height: 1.5;             /* Устанавливаем межстрочный интервал */
        max-height: calc(1.5em * 7);
    }

    &__date {
        position: absolute;
        right: 30px;
        bottom: 10px;
    }
}

@media (max-width:1024px) {
    .post {
        gap: 20px;

        &__body {
            padding: 20px;
            width: 60%;
        }

        &__recommendations {
            width: 40%;
        }
    } 
}

@media (max-width:769px) {
    .post {
        gap: 10px;

        &__date {
            font-size: $font-size-xxs;
        }

        &__title {
            font-size: $font-size-xl;
            line-height: $font-size-xl;
        }

        &__topic {
            font-size: $font-size-xxs;
            padding: 0px 8px;
        }

        &__recommendations {
            gap: 10px;
        }

        .recommendations__title {
            font-size: $font-size-md;
        }
    }

    .recommended {
        gap: 10px;
    }
}

@media (max-width:630px) {
    .post {
        display: block;
        

        &__body {
            width: 100%;
            margin-bottom: 40px;
        }

        &__recommendations {
            width: 100%;
            gap: 0;
            min-height: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;  
        }
    }

    .recommendations__title {
        width: 100%;
        margin-bottom: 10px;
    }

    .recommended {
        width: 49%;
        height: 230px;

        &__header {
            padding: 5px 8px;
        }

        &__title {
            margin-top: 0;
            padding: 0px 8px;
        }

        &__text {
            padding:0 8px;
        }

        &__date {
            right: 8px;
            bottom: 5px;
        }
    }
}

@media (max-width: 500px) {
    .post {
        &__topic {
            margin-bottom: 10px;
        }
    }
    .recommended {
        height: 208px;

        &__title {   
            padding-top: 5px;         
            line-height: calc($font-size-lg-md);
            -webkit-line-clamp: 2;        /* Ограничиваем текст до 1 строк */
        }

        &__text {
            -webkit-line-clamp: 5;
        }
    }
}

