@import '../../styles/variables';

.container {
    max-width: $max-width-container;
    width: 100%;
    margin: 0 auto;
    padding: $padding-container;
}

.header {
    font-size: $font-size-lg;
    line-height: calc($font-size-lg + 8px);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;

    &__items {
        display: flex;
        gap: 60px;
    }

    &__item {
        overflow-x: hidden;
    
        & a {
            position: relative;
            display: inline-block;
    
            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                border-radius: 50px;
                background: $primary-color-background;
                transform: translateX(-100%);
                transition: all .2s linear;
            }
    
            &:hover::before {
                transform: translateX(-0%);
            }
    
            &.active::before {
                transform: translateX(-0%);
            }
        }
    }
}

.burger__btn {
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    position: relative;
    display: none;
    cursor: pointer;

    span {
        display: block;
        width: 20px;
        height: 3px;
        background: $primary-color-background;
        border-radius: 50px;
        position: absolute;
        left: 10px;
        transition: all .2s linear;

        &:nth-child(1) {
            top: 12px;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 12px;
            left: 15px;
            width: 14px;
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: rotate(45deg);
                top: 50%;
                transform: rotate(45deg) translate(0, -50%);
            }

            &:nth-child(2) {
                display: none;
            }

            &:nth-child(3) {
                left: 10px;
                width: 20px;
                bottom: 49%;
                transform: rotate(-45deg) translate(0, 49%);
            }
        }
    }
}

.navmenu {
    display: none;
}

@media (max-width: 768px) {
    .header {
        padding: 0;
        position: relative;
        background: $primary-background;
        z-index: 10;
    }

    .nav {
        display: none;
    }

    .navmenu {
        display: block;
        position: fixed;
        top: 45px;
        left: 0;
        width: 100%;
        height: calc(100vh - 58px);
        transform: translateY(-120%);
        transition: all .3s linear;
        z-index: 1;
        background: $primary-background;

        &.active {
            transform: translateY(0%);
        }

        &__items {
            padding-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 60px;
        }

        &__item {
            font-size: $font-size-lg;
            line-height: calc($font-size-lg + 8px);
            overflow-x: hidden;
        
            & a {
                position: relative;
                display: inline-block;
        
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    border-radius: 50px;
                    background: $primary-color-background;
                    transform: translateX(-100%);
                    transition: all .2s linear;
                }
        
                &:hover::before {
                    transform: translateX(-0%);
                }
        
                &.active::before {
                    transform: translateX(-0%);
                }
            }
        }
    }

    .burger__btn {
        display: block;
    }
}