@import '../../styles/variables';

.container {
    max-width: $max-width-container;
    width: 100%;
    margin: 0 auto;
    padding: $padding-container;
}

.aboutme {
    padding: $padding-section;

    &__title {
        font-size: 100px;
        line-height: 100px;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 2px $primary-color;
        text-align: center;
        margin-bottom: 20px;
    }

    button {
        display: block;
        margin: 20px auto;
    }

    &__call {
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    &__lacation {
        text-align: center;
    }
}