@import '../../styles/variables';

.aboutme {
    &__description {
        max-width: 700px;
        text-align: center;
        margin: 0 auto 20px ;
    }

    &__right {
        width: 50%;
        border-left: 2px solid $primary-color;
        padding-left: 20px;
        padding: 20px 0 20px 20px;
        margin-left: auto;
        transform: translateX(-1.8px);
        position: relative;

        &::before {
            content: attr(data-title);
            position: absolute;
            top: 20px;
            left: -20px;
            transform: translateX(-100%);
            font-size: $font-size-lg-xxl;
            font-weight: 700;
            color: $primary-color;
        }
    }

    &__left {
        width: 50%;
        text-align: right;
        border-right: 2px solid $primary-color;
        padding: 20px 20px 20px 0px;
        position: relative;

        &::before {
            content: attr(data-title);
            position: absolute;
            top: 20px;
            right: -20px;
            transform: translateX(100%);
            font-size: $font-size-lg-xxl;
            font-weight: 700;
            color: $primary-color;
        }
    }

    button {
        display: block;
        margin: 40px auto 0;
    }
}