@import '../../styles/variables';

.aboutme {
    &__description {
        max-width: 700px;
        text-align: center;
        margin: 0 auto 20px ;
    }

    &__right {
        width: 50%;
        border-left: 2px solid $primary-color;
        padding-left: 20px;
        padding: 20px 0 20px 20px;
        margin-left: auto;
        transform: translateX(-1.8px);
        position: relative;

        &::before {
            content: attr(data-title);
            position: absolute;
            top: 20px;
            left: -20px;
            transform: translateX(-100%);
            font-size: $font-size-lg-xxl;
            font-weight: 700;
            color: $primary-color;
            text-align: right;
            max-width: 40vw;
        }
    }

    &__left {
        width: 50%;
        text-align: right;
        border-right: 2px solid $primary-color;
        padding: 20px 20px 20px 0px;
        position: relative;

        &::before {
            content: attr(data-title);
            position: absolute;
            top: 20px;
            right: -20px;
            transform: translateX(100%);
            font-size: $font-size-lg-xxl;
            font-weight: 700;
            color: $primary-color;
            text-align: left;
            max-width: 40vw;
        }
    }

    button {
        display: block;
        margin: 40px auto 0;
    }
}

@media (max-width: 1025px) {
    .aboutme {
        &__left, &__right {
            &::before {
                font-size: $font-size-lg;
            }
        }
    }
}

@media (max-width: 500px) {
    .aboutme {
        &__description {
            margin-bottom: 40px;
        }

        &__left, &__right {
            width: 100%;
            border-right: none;
            border-left: none;
            border-radius: 10px;
            text-align: center;
            padding: 40px 5px 10px 5px;
            margin-bottom: 40px;
        }

        &__left {
            text-align: right;
            padding-left: 50px;
        }

        &__left::before{
            max-width: calc(100% - 5px);
            width: 100%;
            top: 10px;
            right: 100%;         
            text-align: right;
            border-bottom: 1px solid $primary-color;
        }

        &__right {
            padding-right: 50px;
            text-align: left;
        }

        &__right::before {
            max-width: calc(100% - 5px);
            width: 100%;
            top: 10px;
            left: 100%;
            text-align: left;
            border-bottom: 1px solid $primary-color;
        }
    }
}