@import '../../styles/variables';

.aboutme {
    &__description {
        max-width: 700px;
        text-align: center;
        margin: 0 auto 20px ;
    }

    &__right {
        width: 50%;
        // transform: translateX(calc(100% - 1.3px));
        border-left: 2px solid $primary-color;
        padding-left: 20px;
        padding: 20px 0 20px 20px;
        margin-left: auto;
        transform: translateX(-1.8px);
    }

    &__left {
        width: 50%;
        text-align: right;
        border-right: 2px solid $primary-color;
        padding-right: 20px;
    }
}